run = "python3 app.py"
language = "python3"
entrypoint = "app.py"
modules = ["python-3.10:v18-20230807-322e88b"]

[nix]
channel = "stable-23_11"

[env]
VIRTUAL_ENV = "/home/runner/${REPL_SLUG}/venv"
PATH = "${VIRTUAL_ENV}/bin"
PYTHONPATH = "${VIRTUAL_ENV}/lib/python3.10/site-packages"

[deployment]
run = ["python3", "app.py"]
deploymentTarget = "cloudrun"
